fastapi
uvicorn
python-dotenv
pinecone
langchain_pinecone
langchain
langchain-google-genai
langchain-classic
langchain-core
langchain-openai
langchain-text-splitters
langchain-community
pypdf
pdfplumber
requests 
beautifulsoup4
markdownify
lxml
playwright
pymupdf
cohere